In [4]:
"""
Q1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
hello
-87.8
-
/
+
6
"""

'\nQ1. In the below elements which of them are values or an expression? eg:- values can be\ninteger or string and expressions will be mathematical operators.\n*\nhello\n-87.8\n-\n/\n+\n6\n'

In [2]:
"""
Ans1. 

*  ------- Expression
hello ------ String
-87.8 ------ String
-  --------- Expression
/--------- Expression
+  ------- Expression
6-------  String

"""

'\nAns1. \n\n*  ------- Expression\nhello ------ String\n-87.8 ------ String\n-  --------- Expression\n/--------- Expression\n+  ------- Expression\n6-------  String\n\n'

In [5]:
"""
Q2. What is the difference between string and variable?

"""

'\nQ2. What is the difference between string and variable?\n\n'

In [6]:
"""
Ans2. Those quantities whose values may change during the execution of a program are called Variables.
      String is also one kind of variable which stores only the string type of data. This data is enclosed with the
      "" double quotes. 
"""

'\nAns2. Those quantities whose values may change during the execution of a program are called Variables.\n      String is also one kind of variable which stores only the string type of data. This data is enclosed with the\n      "" double quotes. \n'

In [16]:
"""
Q3. Describe three different data types.
"""

'\nQ3. Describe three different data types.\n'

In [17]:
"""
Ans3. Three types of data type are:
      1. Numeric data types: int, float, complex.
      2. String data types: str.
      3. Boolean type: bool.
"""

'\nAns3. Three types of data type are:\n      1. Numeric data types: int, float, complex.\n      2. String data types: str.\n      3. Boolean type: bool.\n'

In [18]:
"""
Q4. What is an expression made up of? What do all expressions do?
"""

'\nQ4. What is an expression made up of? What do all expressions do?\n'

In [19]:
"""
Ans4. An expression is a combination of values, variables, operators, and calls to functions.
      The expressions contain a value which is caluclates as a parts of its components. Like String is also an expresison
      as it contain string as a value.

"""

'\nAns4. An expression is a combination of values, variables, operators, and calls to functions.\n      The expressions contain a value which is caluclates as a parts of its components. Like String is also an expresison\n      as it contain string as a value.\n\n'

In [20]:
"""
Q5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
"""

'\nQ5. This assignment statements, like spam = 10. What is the difference between an\nexpression and a statement?\n'

In [21]:
"""
Ans5. A statement in Python is used for creating variables or for displaying values. 
      The expression in Python produces some value or result after being interpreted by the Python interpreter.
      A statement in Python is not evaluated for some results.
"""

'\nAns5. A statement in Python is used for creating variables or for displaying values. \n      The expression in Python produces some value or result after being interpreted by the Python interpreter.\n      A statement in Python is not evaluated for some results.\n'

In [22]:
"""
Q6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
"""

'\nQ6. After running the following code, what does the variable bacon contain?\nbacon = 22\nbacon + 1\n'

In [23]:
bacon = 22
bacon + 1
bacon

22

In [24]:
"""
Ans6. Bacon contains value 22
"""

'\nAns6. Bacon contains value 22\n'

In [25]:
"""
Q7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

"""

"\nQ7. What should the values of the following two terms be?\n'spam' + 'spamspam'\n'spam' * 3\n\n"

In [26]:
'spam' + 'spamspam'

'spamspamspam'

In [27]:
'spam' * 3

'spamspamspam'

In [28]:
"""
Ans7. The values of the 2 terms are
     'spamspamspam' and 'spamspamspam'
"""

"\nAns7. The values of the 2 terms are\n     'spamspamspam' and 'spamspamspam'\n"

In [29]:
"""
Q8. Why is eggs a valid variable name while 100 is invalid?
"""

'\nQ8. Why is eggs a valid variable name while 100 is invalid?\n'

In [30]:
"""
Ans8. Eggs is avalid variable as a value can be assigned to it while a number cannot be a variable as values cannot
     be assigned to it. we will get the following erroe "cannot assign to literal"''
"""

'\nAns8. Eggs is avalid variable as a value can be assigned to it while a number cannot be a variable as values cannot\n     be assigned to it. we will get the following erroe "cannot assign to literal"\'\'\n'

In [31]:
"""
Q9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

"""

'\nQ9. What three functions can be used to get the integer, floating-point number, or string\nversion of a value?\n\n'

In [32]:
"""
Ans9. The int() , float() , and str( ) functions will evaluate 
      to the integer, floating-point number, and string versions of the value passed to them.

"""

'\nAns9. The int() , float() , and str( ) functions will evaluate \n      to the integer, floating-point number, and string versions of the value passed to them.\n\n'

In [33]:
"""
Q10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 +  'burritos'
"""

"\nQ10. Why does this expression cause an error? How can you fix it?\n'I have eaten' + 99 +  'burritos'\n"

In [34]:
"""
Ans10.. This expresiion will give error because we cannot concatenate string with integer as they are diff data types.
      Corrected expression will be ( 'I have eaten' + '99' +  'burritos')
"""

"\nAns10.. This expresiion will give error because we cannot concatenate string with integer as they are diff data types.\n      Corrected expression will be ( 'I have eaten' + '99' +  'burritos')\n"